
div.nomprenom{
    border: rgb(28, 141, 216) solid 1px;
    text-align: center;
    color: white;
    background-color: rgb(15, 141, 214);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    padding: 30px;
    box-shadow:
  0 57.9px 3.7px -21px rgba(0, 0, 0, 0.14),
  0 71.7px 9.2px -21px rgba(0, 0, 0, 0.224),
  0 83px 32.3px -21px rgba(0, 0, 0, 0.294),
  0 100.1px 90.7px -21px rgba(0, 0, 0, 0.373),
  0 157px 362px -21px rgba(0, 0, 0, 0.56)
;

}
div.Titre{
    position: absolute;
    text-align: center;
    background-color: rgb(37, 130, 173);
    padding: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border: solid 2px white;
    z-index: 300;
}
div.Formation {
    background-color: rgb(37, 130, 173);
    color: white;
    list-style: none;
    border: solid 2px white;
    padding: 20px;
}
div.Exp{
    background-color: rgb(37, 130, 173);
    color: white;
    list-style: none;
    border: solid 2px white;
    padding: 20px;
}
div.infoc{
    background-color: rgb(37, 130, 173);
    color: white;
    list-style: none;
    border: solid 2px white;
}
div.infoc{
    padding: 20px;
}
div.rounded{
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 3;
    padding-bottom: 10px;
    

}
div>img{
    position: relative;
    border-radius: 50%;
    align-items: center;
    margin-left: 40%;
    box-shadow:
  0 57.9px 3.7px -21px rgba(0, 0, 0, 0.14),
  0 71.7px 9.2px -21px rgba(0, 0, 0, 0.224),
  0 83px 32.3px -21px rgba(0, 0, 0, 0.294),
  0 100.1px 90.7px -21px rgba(0, 0, 0, 0.373),
  0 157px 362px -21px rgba(0, 0, 0, 0.56);


}
body {
    background-image: url(./OPH22O0.jpg);
    padding: 0;
    list-style: none;
    margin: 0;
}